@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-size: 18px;
}

:root{
    --soft-red:hsl(7, 99%, 70%);
    --yellow:hsl(51, 100%, 49%);
    --dark-desaturated-cyan:hsl(167, 40%, 24%);
    --dark-blue: hsl(198, 62%, 26%);
    --dark-moderate-cyan:hsl(168, 34%, 41%);
    --very-dark-desaturated-blue:hsl(212, 27%, 19%);
    --very-dark-grayish-blue:hsl(213, 9%, 39%);
    --dark-grayish-blue:hsl(232, 10%, 55%);
    --grayish-blue:hsl(210, 4%, 67%);
    --white:hsl(0, 0%, 100%);
    --barlow:font-family: 'Barlow', sans-serif;
    --fraunces:font-family: 'Fraunces', serif;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

button{
    cursor: pointer;
    border: none;
    background: transparent;
}



/*HEADER SECTİON*/

#header{
    width: 100%;
    height: 80vh;
    background-image: url("images/mobile/image-header.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
}


#header .navbar{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin-bottom: 3rem;
}




#header .header-content{
    text-align: center;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: var(--white);
}

#header .header-content p{
    margin-bottom: 3rem;
   
}

nav{
    position: absolute;
    background-color: #fff;
    padding: 3rem;
    width: 100%;
    margin: auto;
    top: -100vh;
    transition: 0.5s;
}


nav.open{
    top: 5rem;
}



#navbar-ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-family: 'Barlow', sans-serif;
    font-size: 1.3rem;
}

#navbar-ul li a{
    color: var(--dark-grayish-blue);
    position: relative;
    z-index: 11;
}

#navbar-ul li:hover{
  text-transform: uppercase;
  position: relative;
  color: black;
}



#navbar-ul li:hover  #navbar-ul li a{
    color: black;
}


/*TRANSFORM CARD*/


.card{
    display: flex;
    flex-direction: column;
}

.card .img-box{
    width: 50%;
}

.card .img-box img{
    width: 100%;
    height: 100%;
}

.card .img-box{
    width: 100%;
}

.card .content-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 4rem 2rem;
}

.card .content-box .header{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 1.7rem;
}

.card .content-box .content{
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--dark-grayish-blue);
    margin: 1.2rem 0;
}

.card .content-box button{
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 0.9rem;
    position: relative;
    z-index: 1;
}

#transform-card .content-box button::after{
    content: "";
    position: absolute;
    height: 6px;
    width: 105%;
    border-radius: 5px;
    background-color: var(--yellow);
    bottom: 0px;
    left: -3px;
    opacity: 0.5;
    z-index: -1;
}

#transform-card .content-box button:hover::after,
#stand-card .content-box button:hover::after{
    opacity: 1;
}

#stand-card .content-box button::after{
    content: "";
    position: absolute;
    height: 6px;
    width: 105%;
    border-radius: 5px;
    background-color: var(--soft-red);
    bottom: 0px;
    left: -3px;
    opacity: 0.5;
    z-index: -1;
}

/*STAND CARD*/

/*CARD-MAIN*/
#card-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-2{
    background-size: cover;
    background-position: center;
    height: 65vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1.5rem 1.5rem 4rem 1.5rem;
}

.card-2 .header{
    margin-bottom: 1.5rem;
}

#graphic-design{
    background-image: url("images/desktop/image-graphic-design.jpg");
    width: 100%;

}

#graphic-design .header{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: var(--dark-desaturated-cyan);
}

#graphic-design .content{
    font-family: 'Barlow', sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    max-width: 350px;
    margin: 0 auto;
}


#photography{
    background-image: url("images/desktop/image-photography.jpg");
    width: 100%;
}

#photography .header{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: var(--dark-blue);
}

#photography .content{
    font-family: 'Barlow', sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    max-width: 350px;
    margin: 0 auto;
}


/*PROFILE CARD*/

#client-testimonials{
    padding: 4rem 0;
}


#client-testimonials h3{
    font-family: 'Fraunces', serif;
    margin: 3rem 0;
    text-align: center;
    text-transform: uppercase;
    color: var(--grayish-blue);
    font-size: 1rem;
    letter-spacing: 5px;
}

.profile-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.profile-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile-card img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.profile-card .profile-content{
    max-width: 320px;
    margin: 1rem auto;
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: var(--very-dark-grayish-blue);
    line-height: 1.5;
    padding: 0.5rem;
}

.profile-card .name{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: black;
}

.profile-card .job{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    color: var(--dark-grayish-blue);
    font-size: 0.9rem;
    margin-top: 0.5rem;
}


/*IMG GALLERY*/
#img-gallery{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 5rem;
}

#img-gallery img{
    width: 100%;
}


/*FOOTER*/
footer{
    background-color: hsla(168, 34%, 41%,0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 3rem;
    gap: 2rem;
}

.footer-link{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-link li a{
    color: var(--dark-moderate-cyan);
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

.footer-link li a:hover{
    color: var(--white);
}

.social-link{
    display: flex;
    gap: 2rem;
    margin-top: 4rem;
}

.social-link li a img{
    width: 20px;
    height: 20px;
}





@media(min-width:768px){
    #header{
        background-image: url("images/desktop/image-header.jpg");
       }
     
    #img-gallery{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            margin-top: 5rem;
    }
    
    .footer-link{
            justify-content: center;
            gap: 3rem;
    }
    
    nav{
        position: static;
        background-color: transparent;
        padding: 0;
    }

    #navbar-ul{
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
    }

    #navbar-ul li a{
        color: var(--white);
        font-size: 1.1rem;
    }
   
    #mobile{
        display: none;
    }

    #navbar-ul li{
        position: relative;
    }

    #navbar-ul li:hover::after{
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background-color: #fff;
      bottom: -5px;
      left: 0;
      text-transform: none;
    }

    #transform-card{
        flex-direction: row-reverse;
    }

    #stand-card{
        flex-direction: row;
    }


    .card .content-box{
        align-items: start;
        text-align: start;
        padding: 0 3rem;
        width: 50%;
    }

    .card .content-box .header{
        font-size:1.8rem;
    }

    .card .content-box .content{
        font-size: 0.9rem;
    }

    .card .img-box{
        width: 50%;
    }

    #card-main{
       flex-direction: row;
    }

    #graphic-design{
        width: 50%;
    }
    
    #photography{
        width: 50%;
    }
}

@media(min-width:1024px){
    .card .content-box .header{
        font-size: 2.5rem;
    }

    .card .content-box .content{
        font-size: 1.3rem;
    }

    .card-2 .header{
        margin-top: 5rem;
    }
}